/*-begin team styles-*/
.icon-49ers, .icon-AZCardinals, .icon-falcons,
.icon-ravens, .icon-buffalobills, .icon-panthers,
.icon-CHIBears, .icon-bengals, .icon-Browns,
.icon-cowboys, .icon-DenverBroncos, .icon-GreenBayPackers,
.icon-Texans, .icon-Colts, .icon-Jaguars,
.icon-KansasCityChiefs, .icon-miamidolphins, .icon-minnesotavikings,
.icon-Patriots, .icon-detroitlions, .icon-Saints,
.icon-NYGiants, .icon-nyjets, .icon-oaklandraiders,
.icon-eagles, .icon-steelers, .icon-Chargers,
.icon-Seahawks, .icon-StLouisRams, .icon-buccaneers,
.icon-Tennesseetitans, .icon-Redskins {
  background-image: url("../imgs/teamlogos.jpg");
  width: 49px;
  height: 58px;
}
.icon-49ers {background-position: -365px -65px;}
.icon-AZCardinals {background-position: -365px -5px;}
.icon-falcons {background-position: -313px -5px;}
.icon-ravens {background-position: -58px -5px;}
.icon-buffalobills { background-position: -7px -5px;}
.icon-panthers {background-position: -313px -65px;}
.icon-CHIBears {background-position: -264px -5px;}
.icon-bengals {background-position: -58px -65px;}
.icon-Browns {background-position: -58px -124px;}
.icon-cowboys {background-position: -212px -5px;}
.icon-DenverBroncos {background-position: -160px -5px;}
.icon-GreenBayPackers {background-position: -264px -124px;}
.icon-Texans {background-position: -110px -5px;}
.icon-Colts {background-position: -110px -65px;}
.icon-Jaguars {background-position: -110px -124px;}
.icon-KansasCityChiefs {background-position: -160px -65px;}
.icon-miamidolphins { background-position: -7px -65px;}
.icon-minnesotavikings {background-position: -264px -184px;}
.icon-Patriots {background-position: -7px -124px;}
.icon-detroitlions {background-position: -264px -65px;}
.icon-Saints {background-position: -313px -124px;}
.icon-NYGiants {background-position: -212px -65px;}
.icon-nyjets {background-position: -7px -184px;}
.icon-oaklandraiders {background-position: -160px -124px;}
.icon-eagles {background-position: -212px -124px;}
.icon-steelers {background-position: -58px -184px;}
.icon-Chargers {background-position: -160px -184px;}
.icon-Seahawks {background-position: -365px -124px;}
.icon-StLouisRams {background-position: -365px -184px;}
.icon-buccaneers {background-position: -313px -184px;}
.icon-Tennesseetitans {background-position: -110px -184px;}
.icon-Redskins {background-position: -212px -184px;}
/*-end team styles-*/
.thumb {margin: 5px 5px 0 5px !important;}
.comment-footer {
  padding-top: 5px;
}
.links-container {
  padding-left: 5px;
  display: inline;
}
.links-container i {
  opacity: .5;
  padding-left: 5px;
}
.time-container {
  display: inline;
}
#refreshNumber {
  display: inline;
  position: absolute;
  bottom: -3px;
}
.Center-Container {
  position: relative;
}
.Absolute-Center {
  text-align: center;
  padding:10px;
  width: 100%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.fa-caret-down {
  position: absolute;
  padding: 10px 25px;
  height: 1.75rem;
  right:0;
}
.media {
  padding: 5px 5px 5px 0;
  border-top: 1px solid rgba(255,255,255,.25) !important;
  margin-top: 5px !important;
  background-color: rgb(32,32,32);
}
#content-container::-webkit-scrollbar {
  /*display: none;*/
}
#content-container {
  width:100%;
  height:100%;
  float:left;
  overflow-y:hidden;
  white-space:nowrap;
}
.subreddit-group {
  padding: 5px 0 5px 0;
}
.column-settings {
  padding-top:5px;
}
.nopacity, .frame-overlay {
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.nopacity {
  opacity: 0;
}
#helpBlock {text-align: center;}
.fa-arrow-circle-left {padding-left: 15px; left:0;}
.fa-arrow-circle-right {padding-right: 15px; right:0;}
.fa-arrow-circle-left, .fa-arrow-circle-right {position:absolute;}
.tab-control {padding-top: 10px;}
.tab-pane {padding-bottom:5px;}
.blue-dotted { border: 1px dotted #2a9fd6 !important;}
.team-list {
    vertical-align: top;
    display: inline-block;
    float:none;
}
.icon-config {
  padding-right: 15px
}
.icon-config-2 {
  padding-right: 30px;
}
.refreshSwitch {
  cursor: pointer;
  margin-right: 6px;
}
.fa-edit {
  cursor: pointer;
  margin-right: 5px;
}
.fa-close, .reply, .open-controls {
  cursor: pointer;
}
.icon-right {
  position: absolute;
  right:0;
}
.frame-container {
  padding-left: 2px;
  padding-right:2px;
  min-width: 315px;
}
.frame-position {
  vertical-align: top;
  max-width:315px;
  height:100%;
  display:inline-block;
  white-space:normal;
}
.frame {
  width: auto !important;
  padding: 10px 5px 10px 5px;
  margin-bottom: 2px;
  border-radius: 0px !important;
  background-color: #4C0000 !important;
}
.parent {
  margin-top:0 !important;
  border-left: 1px solid rgba(255,255,255,.25);
  border-right: 1px solid rgba(255,255,255,.25);
  border-top: 1px solid rgba(255,255,255,.25);
}
.frame-content::-webkit-scrollbar, .frame-edit::-webkit-scrollbar { 
    display: none; 
}
.frame-content {
  opacity: 0;
  overflow-y: scroll;
  overflow: auto;
  width: 100%;
  padding:1px;
  background-color: #888888;
}
.frame-edit {
  overflow-y: scroll;
  margin-top: 15px;
}
.edit-button-group {
  margin-bottom: 15px;
}
.frame-header {
  margin-top : 5px;
  margin-bottom: 5px;
}
.config-panel-column, .frame {
  width: 100%;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4C0000;
  color: white;
  border: 1px solid rgba(255,136,0,.2);
}
#current-config { 
  margin-top:25px;
}
#config-row-container {
  margin-left: 0;
  margin-right: 0;
}
.column-control-buttons {
  margin-bottom:10px;
  text-align: center;  
}
#add-column, #column-settings, #add-thread-button, #add-button { margin-left:5px;}
.fifty {width:50%; text-align: center;}
.faded { opacity: 1; }
.half-fade { opacity: .5;}
.hide { display: none;}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #060606;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0 0 130px 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a { 
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.framework {
  height: 100vh;
  padding: 2px 2px 50px 2px;
}
.carousel-control {
  display: none;
}
.small { display: none;}
.carousel-inner > .item {
  display: inline-block;
}
.carousel-inner {
  overflow: visible;
}
.loading {
  color: white;
  z-index: 1030;
  left: 50%;
  top: 11px;
  position:absolute;
}
.frame-overlay {
  background: #000;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus, textarea:focus, input:focus {
    font-size: 16px;
    background: #eee;
  }  
}
@media (min-width: 0px) and (max-width: 640px) {
  .frame-position {
    display:block;
    max-width: none;
  }
  .carousel-control {
    padding-top: 10px;
    display: block;
  }
  .big { display: none;}
  .small { display: block;}
  .carousel-inner {
    overflow: hidden;    
  }
  .carousel-inner > .item {
    display: none;
  }
  .carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display:block;
  }
}