/*-begin team styles-*/
.icon-49ers, .icon-AZCardinals, .icon-falcons,
.icon-ravens, .icon-buffalobills, .icon-panthers,
.icon-CHIBears, .icon-bengals, .icon-Browns,
.icon-cowboys, .icon-DenverBroncos, .icon-GreenBayPackers,
.icon-Texans, .icon-Colts, .icon-Jaguars,
.icon-KansasCityChiefs, .icon-miamidolphins, .icon-minnesotavikings,
.icon-Patriots, .icon-detroitlions, .icon-Saints,
.icon-NYGiants, .icon-nyjets, .icon-oaklandraiders,
.icon-eagles, .icon-steelers, .icon-Chargers,
.icon-Seahawks, .icon-StLouisRams, .icon-buccaneers,
.icon-Tennesseetitans, .icon-Redskins {
  background-image: url("../imgs/teamlogos.jpg");
  width: 49px;
  height: 58px;
}
.icon-49ers {background-position: -365px -65px;}
.icon-AZCardinals {background-position: -365px -5px;}
.icon-falcons {background-position: -313px -5px;}
.icon-ravens {background-position: -58px -5px;}
.icon-buffalobills { background-position: -7px -5px;}
.icon-panthers {background-position: -313px -65px;}
.icon-CHIBears {background-position: -264px -5px;}
.icon-bengals {background-position: -58px -65px;}
.icon-Browns {background-position: -58px -124px;}
.icon-cowboys {background-position: -212px -5px;}
.icon-DenverBroncos {background-position: -160px -5px;}
.icon-GreenBayPackers {background-position: -264px -124px;}
.icon-Texans {background-position: -110px -5px;}
.icon-Colts {background-position: -110px -65px;}
.icon-Jaguars {background-position: -110px -124px;}
.icon-KansasCityChiefs {background-position: -160px -65px;}
.icon-miamidolphins { background-position: -7px -65px;}
.icon-minnesotavikings {background-position: -264px -184px;}
.icon-Patriots {background-position: -7px -124px;}
.icon-detroitlions {background-position: -264px -65px;}
.icon-Saints {background-position: -313px -124px;}
.icon-NYGiants {background-position: -212px -65px;}
.icon-nyjets {background-position: -7px -184px;}
.icon-oaklandraiders {background-position: -160px -124px;}
.icon-eagles {background-position: -212px -124px;}
.icon-steelers {background-position: -58px -184px;}
.icon-Chargers {background-position: -160px -184px;}
.icon-Seahawks {background-position: -365px -124px;}
.icon-StLouisRams {background-position: -365px -184px;}
.icon-buccaneers {background-position: -313px -184px;}
.icon-Tennesseetitans {background-position: -110px -184px;}
.icon-Redskins {background-position: -212px -184px;}
/*-end team styles-*/
.thumb {margin: 5px 5px 0 5px !important;}
.block {
  text-align: center;
  z-index: -1;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
 }
.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
 }
.stats {font-size: 10px;}
.fa-caret-down {
  position: absolute;
  padding: 10px 25px;
  height: 1.75rem;
  right:0;
}
.styled-select-2 select:focus {
  outline: 0;
}
.styled-select select, .styled-select-2 select {
  background: transparent;
  width: 100%;
  padding: 5px 25px 5px 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}
.styled-select, .styled-select-2 {
  width: 100%; 
  height: 34px;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right inherit;
}
.styled-select {
  border: 1px solid #2a9fd6;
}
.parent {
  padding: 0 5px 5px 0;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,.25);
}
.media {
  padding: 0 5px 5px 0;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,.25);
  margin-top: 5px !important;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.tab-pane {padding-bottom:5px;}
.blue-dotted { border: 1px dotted #2a9fd6 !important;}
.team-list {
    vertical-align: top;
    display: inline-block;
    float:none;
}
.faded { opacity: 1; }
.hide { display: hide;}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #060606;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0 0 130px 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
