/*-begin team styles-*/
.sea-green { color: #4EAE47 !important;}
.sf-red { color: #AF1E2C !important;}
.ari-red { color: #870619 !important;}
.aSeahawks, .aAZCardinals, .a49ers { position:relative;}
.aSeahawks:after {
  background: url("/static-assets/imgs/sea.svg");
  background-position: 100% -30px;
  background-repeat: no-repeat;
  background-color: #4EAE47; 
  opacity: 0.1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: "";
}
.aAZCardinals:after {
  background: url("/static-assets/imgs/az.svg");
  background-position: 100% -60px;
  background-repeat: no-repeat;
  background-color: #870619; 
  opacity: 0.1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: "";
}
.a49ers:after {
  background: url("/static-assets/imgs/sf.svg");
  background-position: 100% -60px;
  background-repeat: no-repeat;
  background-color: #AF1E2C; 
  opacity: 0.1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: "";
}
/*-end team styles-*/
.stats {font-size: 10px;}
.fa-caret-down {
  position: absolute;
  padding: 10px 25px;
  height: 1.75rem;
  right:0;
}
.styled-select-2 select:focus {
  outline: 0;
}
.styled-select select, .styled-select-2 select {
  background: transparent;
  width: 100%;
  padding: 5px 25px 5px 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}
.styled-select, .styled-select-2 {
  width: 100%; 
  height: 34px;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right inherit;
}
.styled-select {
  border: 1px solid #2a9fd6;
}
.parent {
  padding: 0 5px 5px 0;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,.25);
}
.media {
  padding: 0 5px 5px 0;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,.25);
  margin-top: 5px !important;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.tab-pane {padding-bottom:5px;}
.blue-dotted { border: 1px dotted #2a9fd6 !important;}
.team-list {
    vertical-align: top;
    display: inline-block;
    float:none;
}
.faded { opacity: 1; }
.hide { display: hide;}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #060606;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0 0 130px 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
