<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <footer>
		<p style='text-align: center; margin-top:10px;'>
			<a><i class='fa fa-github-square fa-3x'></i></a>
			<a><i class='fa fa-facebook-square fa-3x'></i></a>
			<a><i class='fa fa-linkedin-square fa-3x'></i></a>
		</p>
	</footer>
  </div>
</nav>