<nav class="navbar navbar-default navbar-fixed-bottom hide" role="navigation">
  <div class="container">
    <footer>
		<div class="row teams" style="display:none; padding:5px 0 5px 0">
			<div class="col-xs-6 big">
				<a data-pjax href="/" class='brand'>
					<img src='static-assets/imgs/text.png' height='39' alt='error'></img>
				</a>
			</div>
			<div class="col-xs-6 big" style="text-align:right;">
				<div class='btn-group'>
					<a class='btn help' onclick="bindHelpModal.call(this)"><span class='text-warning'><i class='fa fa-question fa-lg'></i></span></a>
					<a class='btn columns-or-home' onclick="bindColumnsOrHomeButton.call(this)"><span class='text-warning'><i class='fa fa-home fa-lg'></i></span></a>
					<a class='btn open-controls' onclick="launchControls.call(this)"><span class='text-warning'><i class='fa fa-cogs fa-lg'></i></span></a>
				</div>
			</div>
			<div class="col-xs-12 small" style="text-align: center;">
				<div class='btn-group'>
					<a class='btn help' onclick="bindHelpModal.call(this)"><span class='text-warning'><i class='fa fa-question fa-lg'></i></span></a>
					<a class='btn columns-or-home' onclick="bindColumnsOrHomeButton.call(this)"><span class='text-warning'><i class='fa fa-home fa-lg'></i></span></a>
					<a class='btn open-controls' onclick="launchControls.call(this)"><span class='text-warning'><i class='fa fa-cogs fa-lg'></i></span></a>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
	          <i class='fa fa-chevron-left fa-lg'></i>
	        </a>
	        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
	          <i class='fa fa-chevron-right fa-lg'></i>
	        </a>
		</div>
		<p class="social" style='text-align: center; margin-top:10px;'>
			<a><i class='fa fa-github-square fa-3x'></i></a>
			<a><i class='fa fa-facebook-square fa-3x'></i></a>
			<a><i class='fa fa-linkedin-square fa-3x'></i></a>
		</p>
	</footer>
  </div>
</nav>