<!DOCTYPE html>
<html lang="en">
	<head>
	    {{> head}}
  	</head>
  	<body>
  		{{> navigation}}
  		<div id="pjax-container">
  			{{{body}}}
  		</div>
      <div style="text-align: center; display: none;" id="loading"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
  		{{> footer}}
  	</body>
</html>