<div class="container">
	<br/><br/>
	<h1 id="bftp">bftp</h1>

<p>A command line <strong>Explicit FTP over SSL (FTPES)</strong> cURL wrapper that mirrors remote files locally. </p>

<hr>

<h4 id="purpose">Purpose</h4>

<p>The motivation behind bftp was to learn bash programming.  When I started using a seedbox (private server) to upload and download files, I quickly grew tired of reopening filezilla for my needs.  I wanted to automate FTP over SSL using bash from my terminal (OSX) using only cURL.  This was a perfect oportunity to accomplish both tasks.</p>

<p>======</p>

<h4 id="features">Features</h4>

<ul>
<li><p><strong>FTPES</strong> - Because bftp wraps cURL, we can utilize its robust features.  Bftp becomes a <strong>Explicit FTP over SSL (FTPES)</strong> client by using cURL’s <code>--ssl-reqd</code> flag.  This flag requires SSL/TLS for the connection. The connection terminates without it.  This means the data stream transfer is encrypted!</p></li>
<li><p><strong>Mirror files and directories</strong> - Bftp recursively creates a local file structure that <em>mirrors</em> your remote file structure.  Meaning if you execute a bftp command to get remote files, bftp prefixes a namespace and replicates the file structure from your ftp server to your local.</p>

<p><code>hostname.com:port/root/myfiles/[foo.txt, bar.txt]</code> <br>
k <br>
becomes</p>

<p><code>$HOME/Desktop/bftp.downloads/root/myfiles/[foo.txt, bar.txt]</code></p>

<blockquote>
  <p><strong>Note</strong>:</p>
  
  <p>If a default directory is specified in your configuration, bftp does not create a namespace in that directory, it simply mirrors your remote files into that directory.</p>
</blockquote></li>
<li><p><strong>Automate</strong> - Modify <code>crontab</code> or a job scheduler to utilize bftp as means of getting all of your remote files using <code>$ bftp get-all</code>. OR keeping in the spirit of wrapping shell executables, wrap bftp in your own process.</p></li>
<li><p><strong>Operations</strong> - <em>some operations are still in development</em></p>

<ul><li>Get single or multiple remote files/directories to local  <strong>functional</strong></li>
<li>Put single or multiple local files/directories to remote  <strong>in development</strong></li>
<li>Delete single or multiple remote files/directores         <strong>in development</strong></li></ul></li>
</ul>

<p>=====</p>

<h4 id="setup">Setup</h4>

<p>Since this is literally just a bash script, you are welcome to simply create a new file with a text editor, copy and paste the script contents, and save it to your desired path.</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ cd </span><span class="pun">/</span><span class="pln">usr</span><span class="pun">/</span><span class="kwd">local</span><span class="pun">/</span><span class="pln">bin</span><span class="pun">/</span><span class="pln"> </span><span class="pun">&amp;&amp;</span><span class="pln"> vim bftp </span><span class="com"># paste script in this file</span></code></pre>

<blockquote>
  <p><strong>Note:</strong></p>
  
  <p>If you manually copy/paste the script, you’ll need to <code>chmod -x bftp</code> to make the script executable.</p>
</blockquote>

<p>Or use the git route and clone the repository with this command</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ git clone https</span><span class="pun">:</span><span class="com">//github.com/kurtquake/bftp.git</span></code></pre>

<h5 id="dependencies">Dependencies</h5>

<p>As this is a cURL wrapper, it is the only depedency.  If for whatever reason you don’t have the executable, get it here: <a href="http://curl.haxx.se/download.html">http://curl.haxx.se/download.html</a></p>

<h5 id="running-the-script">Running the script</h5>

<p>You can run the script by navigating to the directory you saved it to and typing</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ </span><span class="pun">./</span><span class="pln">bftp</span></code></pre>

<p>Alternatively, you can place <code>bftp</code> in a directory that is included in your <code>$PATH</code> variable.  This will allow you to run the script without the <code>./</code> syntax and from any path you may <code>cd</code> to. Find out what directories are in the <code>$PATH</code> variable</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ $PATH
</span><span class="pun">-</span><span class="pln">bash</span><span class="pun">:</span><span class="pln"> </span><span class="str">/usr/</span><span class="pln">bin</span><span class="pun">:</span><span class="str">/bin:/</span><span class="pln">usr</span><span class="pun">/</span><span class="pln">sbin</span><span class="pun">:</span><span class="str">/sbin:/</span><span class="pln">usr</span><span class="pun">/</span><span class="kwd">local</span><span class="pun">/</span><span class="pln">bin </span><span class="pun">...</span><span class="pln">
$ mv bftp </span><span class="pun">/</span><span class="pln">usr</span><span class="pun">/</span><span class="kwd">local</span><span class="pun">/</span><span class="pln">bin </span><span class="com"># move bftp into a directory defined in your $PATH variable</span></code></pre>

<p>You can append a new directory to the <code>$PATH</code> variable by running this</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ </span><span class="kwd">export</span><span class="pln"> PATH</span><span class="pun">=</span><span class="pln">$PATH</span><span class="pun">:</span><span class="str">/new/</span><span class="pln">path</span></code></pre>

<p>Now place <code>bftp</code> in <code>/new/path</code> <br>
If you’re using OSX, the most convenient way to do this is to append your new path to your <code>/etc/paths</code> file</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ sudo vim </span><span class="pun">/</span><span class="pln">etc</span><span class="pun">/</span><span class="pln">paths
</span><span class="pun">/</span><span class="pln">usr</span><span class="pun">/</span><span class="pln">bin
</span><span class="pun">/</span><span class="pln">bin
</span><span class="pun">/</span><span class="pln">usr</span><span class="pun">/</span><span class="pln">sbin
</span><span class="pun">/</span><span class="pln">sbin
</span><span class="pun">/</span><span class="pln">usr</span><span class="pun">/</span><span class="kwd">local</span><span class="pun">/</span><span class="pln">bin
</span><span class="pun">/</span><span class="kwd">new</span><span class="pun">/</span><span class="pln">path</span><span class="pun">/</span><span class="pln"> </span><span class="com"># use your editor to place your new path here</span></code></pre>

<p>Now everytime you restart your terminal, your new path will be defined in your <code>$PATH</code> variable.</p>

<h5 id="configuration">Configuration</h5>

<p>Now that you have the script ready to run, you need to set endpoints to your ftp server.  By default, the endpoints have place holders in them because you’re not allowed to access my seedbox :P Let’s configure bftp to use your ftp server.  Identify the root folder where your files reside.  In my seedbox, my root folder is <code>/rtorrent/downloads/</code>.  We’re using the ftp protocol in cURL, so our fully qualified endpoint would be something like this:</p>

<p><code>ftp://user:password@nad.seedstuff.ca:9999/rtorrent/downloads/</code></p>

<p>Open the script with a text editor.</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ vim bash </span></code></pre>

<p>Find the two variables <code>USERDIR</code> and <code>FTPQUALIFIEDURL</code> near the top of the script:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">USERDIR</span><span class="pun">=</span><span class="str">"/my/local/directory/"</span><span class="pln">
FTPQUALIFIEDURL</span><span class="pun">=</span><span class="str">"ftp://user:password@nad.seedstuff.ca:9999/rtorrent/downloads/"</span></code></pre>

<p><code>USERDIR</code> represents the qualified path to your local directory.  This is where bftp will place remote file content</p>

<p><code>FTPQUALIFIEDURL</code> represents the qualified path to your remote files.</p>

<blockquote>
  <p><strong>Note</strong>:</p>
  
  <p>Observe the syntax of these paths. Note the placement of the forward slashes (<code>/</code>) as these are important.  Also, make sure to replace <code>user</code> and <code>password</code> with your unique credentials</p>
</blockquote>

<p>Done! Now you can run <code>bftp</code> from your command line.  Read on for a command listing and usage examples.</p>

<p>=====</p>

<h4 id="command-list-and-usage">Command List and Usage</h4>

<ol>
<li><p><strong>view</strong></p>

<p>Description:</p>

<p>Lists all contents at your designated remote file path as an ordered list.</p>

<p>Usage:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ bftp view</span></code></pre>

<p>Output:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="typ">Fetching</span><span class="pln"> contents</span><span class="pun">...</span><span class="pln">
</span><span class="lit">1</span><span class="pln"> </span><span class="pun">-</span><span class="pln"> ubuntu</span><span class="pun">-</span><span class="lit">14.04</span><span class="pun">-</span><span class="pln">desktop</span><span class="pun">-</span><span class="pln">amd64</span><span class="pun">.</span><span class="pln">iso
</span><span class="lit">2</span><span class="pln"> </span><span class="pun">-</span><span class="pln"> ubuntu</span><span class="pun">-</span><span class="lit">14.04</span><span class="pun">-</span><span class="pln">desktop</span><span class="pun">-</span><span class="pln">i386</span><span class="pun">.</span><span class="pln">iso
$ </span></code></pre></li>
<li><p><strong>get-one</strong> [<em>my/local/path/</em>]</p>

<p>Description: </p>

<p>Get a single file/directory from the remote server.  This command will display an ordered list of contents at your designated remote file path.  Enter a number corresponding to the file you’d like to download and bftp will mirror it into your local directory.  bftp mirrors the names of the remote files into your local directory.  If [<em>my/local/path/</em>] is included, bftp will use this as the target directory, otherwise it defaults to <code>USERDIR</code>.  <code>get-one</code> will skip your selection if your target directory contains exactly the same named file/directory.</p>

<p>Usage:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ bftp </span><span class="kwd">get</span><span class="pun">-</span><span class="pln">one</span></code></pre>

<p>Output:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="typ">Fetching</span><span class="pln"> contents</span><span class="pun">...</span><span class="pln">
</span><span class="lit">1</span><span class="pln"> </span><span class="pun">-</span><span class="pln"> ubuntu</span><span class="pun">-</span><span class="lit">14.04</span><span class="pun">-</span><span class="pln">desktop</span><span class="pun">-</span><span class="pln">amd64</span><span class="pun">.</span><span class="pln">iso
</span><span class="lit">2</span><span class="pln"> </span><span class="pun">-</span><span class="pln"> ubuntu</span><span class="pun">-</span><span class="lit">14.04</span><span class="pun">-</span><span class="pln">desktop</span><span class="pun">-</span><span class="pln">i386</span><span class="pun">.</span><span class="pln">iso
</span><span class="typ">Type</span><span class="pln"> a number corresponding to the file number you</span><span class="str">'d like to download and hit [Enter]: 1

Using /Users/kurtmedley/Desktop/
--------------------


Downloading &lt; ubuntu-14.04-desktop-amd64.iso &gt; to /Users/kurtmedley/Desktop
--------------------

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  1  964M    1 11.5M    0     0   592k      0  0:27:47  0:00:20  0:27:27  677k</span></code></pre>

<blockquote>
  <p><strong>Note</strong>:</p>
  
  <p><code>USERDIR</code> is defined as <code>/Users/kurtmedley/Desktop/</code></p>
</blockquote>

<p>Usage:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ bftp </span><span class="kwd">get</span><span class="pun">-</span><span class="pln">one </span><span class="pun">/</span><span class="typ">Users</span><span class="pun">/</span><span class="pln">kurtmedley</span><span class="pun">/</span><span class="typ">Downloads</span><span class="pun">/</span></code></pre>

<p>Output:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="typ">Fetching</span><span class="pln"> contents</span><span class="pun">...</span><span class="pln">
</span><span class="lit">1</span><span class="pln"> </span><span class="pun">-</span><span class="pln"> ubuntu</span><span class="pun">-</span><span class="lit">14.04</span><span class="pun">-</span><span class="pln">desktop</span><span class="pun">-</span><span class="pln">amd64</span><span class="pun">.</span><span class="pln">iso
</span><span class="lit">2</span><span class="pln"> </span><span class="pun">-</span><span class="pln"> ubuntu</span><span class="pun">-</span><span class="lit">14.04</span><span class="pun">-</span><span class="pln">desktop</span><span class="pun">-</span><span class="pln">i386</span><span class="pun">.</span><span class="pln">iso
</span><span class="typ">Type</span><span class="pln"> a number corresponding to the file number you</span><span class="str">'d like to download and hit [Enter]: 2

Creating and entering /Users/kurtmedley/Downloads//bftp.downloads/
--------------------


Downloading &lt; ubuntu-14.04-desktop-i386.iso &gt; to /Users/kurtmedley/Downloads/bftp.downloads
--------------------

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  2  970M    2 26.0M    0     0   558k      0  0:29:38  0:00:47  0:28:51  613k</span></code></pre>

<blockquote>
  <p><strong>Note</strong>:</p>
  
  <p><code>USERDIR</code> may be defined, but the file path you pass as a parameter takes precedent.  bftp then creates a namespace directory inside your designated path called <code>bftp.downloads</code>.</p>
</blockquote></li>
<li><p><strong>get-all</strong> [<em>my/local/path/</em>]</p>

<p>Description:</p>

<p>Get all the files/directories from the remote server.  This command will sequentially download all the contents at your designated remote file path.  bftp mirrors the names of the remote files into your local directory.  If [<em>my/local/path/</em>] is included, bftp will use this as the target directory, otherwise it defaults to <code>USERDIR</code>.  <code>get-all</code> will skip your selection if your target directory contains exactly the same named file/directory.  If you choose to automate this script, this feature becomes desirable as you won’t overwrite files/directories.</p>

<p>Usage:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ bftp </span><span class="kwd">get</span><span class="pun">-</span><span class="pln">all</span></code></pre>

<p>Output:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="typ">Using</span><span class="pln"> </span><span class="pun">/</span><span class="typ">Users</span><span class="pun">/</span><span class="pln">kurtmedley</span><span class="pun">/</span><span class="typ">Desktop</span><span class="pun">/</span><span class="pln">

</span><span class="typ">Downloading</span><span class="pln"> </span><span class="lit">2</span><span class="pln"> items </span><span class="kwd">from</span><span class="pln"> ftp</span><span class="pun">:</span><span class="com">//user:password@nad.seedstuff.ca:9999/rtorrent/downloads/ to /Users/kurtmedley/Desktop/</span><span class="pln">

</span><span class="pun">--------------------</span><span class="pln">

</span><span class="typ">Downloading</span><span class="pln"> </span><span class="pun">&lt;</span><span class="pln"> ubuntu</span><span class="pun">-</span><span class="lit">14.04</span><span class="pun">-</span><span class="pln">desktop</span><span class="pun">-</span><span class="pln">amd64</span><span class="pun">.</span><span class="pln">iso </span><span class="pun">&gt;</span><span class="pln"> to </span><span class="pun">/</span><span class="typ">Users</span><span class="pun">/</span><span class="pln">kurtmedley</span><span class="pun">/</span><span class="typ">Desktop</span><span class="pln">
</span><span class="pun">--------------------</span><span class="pln">

  </span><span class="pun">%</span><span class="pln"> </span><span class="typ">Total</span><span class="pln">    </span><span class="pun">%</span><span class="pln"> </span><span class="typ">Received</span><span class="pln"> </span><span class="pun">%</span><span class="pln"> </span><span class="typ">Xferd</span><span class="pln">  </span><span class="typ">Average</span><span class="pln"> </span><span class="typ">Speed</span><span class="pln">   </span><span class="typ">Time</span><span class="pln">    </span><span class="typ">Time</span><span class="pln">     </span><span class="typ">Time</span><span class="pln">  </span><span class="typ">Current</span><span class="pln">
                                 </span><span class="typ">Dload</span><span class="pln">  </span><span class="typ">Upload</span><span class="pln">   </span><span class="typ">Total</span><span class="pln">   </span><span class="typ">Spent</span><span class="pln">    </span><span class="typ">Left</span><span class="pln">  </span><span class="typ">Speed</span><span class="pln">
  </span><span class="lit">0</span><span class="pln">  </span><span class="lit">964M</span><span class="pln">    </span><span class="lit">0</span><span class="pln"> </span><span class="lit">8912k</span><span class="pln">    </span><span class="lit">0</span><span class="pln">     </span><span class="lit">0</span><span class="pln">   </span><span class="lit">516k</span><span class="pln">      </span><span class="lit">0</span><span class="pln">  </span><span class="lit">0</span><span class="pun">:</span><span class="lit">31</span><span class="pun">:</span><span class="lit">50</span><span class="pln">  </span><span class="lit">0</span><span class="pun">:</span><span class="lit">00</span><span class="pun">:</span><span class="lit">17</span><span class="pln">  </span><span class="lit">0</span><span class="pun">:</span><span class="lit">31</span><span class="pun">:</span><span class="lit">33</span><span class="pln">  </span><span class="lit">551k</span></code></pre>

<blockquote>
  <p><strong>Note</strong>:</p>
  
  <p><code>USERDIR</code> is defined as <code>/Users/kurtmedley/Desktop/</code></p>
</blockquote>

<p>Usage:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="pln">$ bftp </span><span class="kwd">get</span><span class="pun">-</span><span class="pln">all </span><span class="kwd">my</span><span class="pun">/</span><span class="kwd">local</span><span class="pun">/</span><span class="pln">dir</span><span class="pun">/</span></code></pre>

<p>Output:</p>

<pre class="prettyprint prettyprinted"><code class="language-bash"><span class="typ">Creating</span><span class="pln"> </span><span class="kwd">and</span><span class="pln"> entering </span><span class="pun">/</span><span class="typ">Users</span><span class="pun">/</span><span class="pln">kurtmedley</span><span class="pun">/</span><span class="typ">Downloads</span><span class="com">//bftp.downloads/</span><span class="pln">

</span><span class="typ">Downloading</span><span class="pln"> </span><span class="lit">2</span><span class="pln"> items </span><span class="kwd">from</span><span class="pln"> ftp</span><span class="pun">:</span><span class="com">//user:password@nad.seedstuff.ca:9999/rtorrent/downloads/ to /Users/kurtmedley/Downloads//bftp.downloads/</span><span class="pln">

</span><span class="pun">--------------------</span><span class="pln">

</span><span class="typ">Downloading</span><span class="pln"> </span><span class="pun">&lt;</span><span class="pln"> ubuntu</span><span class="pun">-</span><span class="lit">14.04</span><span class="pun">-</span><span class="pln">desktop</span><span class="pun">-</span><span class="pln">amd64</span><span class="pun">.</span><span class="pln">iso </span><span class="pun">&gt;</span><span class="pln"> to </span><span class="pun">/</span><span class="typ">Users</span><span class="pun">/</span><span class="pln">kurtmedley</span><span class="pun">/</span><span class="typ">Downloads</span><span class="pun">/</span><span class="pln">bftp</span><span class="pun">.</span><span class="pln">downloads
</span><span class="pun">--------------------</span><span class="pln">

  </span><span class="pun">%</span><span class="pln"> </span><span class="typ">Total</span><span class="pln">    </span><span class="pun">%</span><span class="pln"> </span><span class="typ">Received</span><span class="pln"> </span><span class="pun">%</span><span class="pln"> </span><span class="typ">Xferd</span><span class="pln">  </span><span class="typ">Average</span><span class="pln"> </span><span class="typ">Speed</span><span class="pln">   </span><span class="typ">Time</span><span class="pln">    </span><span class="typ">Time</span><span class="pln">     </span><span class="typ">Time</span><span class="pln">  </span><span class="typ">Current</span><span class="pln">
                                 </span><span class="typ">Dload</span><span class="pln">  </span><span class="typ">Upload</span><span class="pln">   </span><span class="typ">Total</span><span class="pln">   </span><span class="typ">Spent</span><span class="pln">    </span><span class="typ">Left</span><span class="pln">  </span><span class="typ">Speed</span><span class="pln">
  </span><span class="lit">1</span><span class="pln">  </span><span class="lit">964M</span><span class="pln">    </span><span class="lit">1</span><span class="pln"> </span><span class="lit">11.8M</span><span class="pln">    </span><span class="lit">0</span><span class="pln">     </span><span class="lit">0</span><span class="pln">   </span><span class="lit">471k</span><span class="pln">      </span><span class="lit">0</span><span class="pln">  </span><span class="lit">0</span><span class="pun">:</span><span class="lit">34</span><span class="pun">:</span><span class="lit">51</span><span class="pln">  </span><span class="lit">0</span><span class="pun">:</span><span class="lit">00</span><span class="pun">:</span><span class="lit">25</span><span class="pln">  </span><span class="lit">0</span><span class="pun">:</span><span class="lit">34</span><span class="pun">:</span><span class="lit">26</span><span class="pln">  </span><span class="lit">614k</span></code></pre>

<blockquote>
  <p><strong>Note</strong>:</p>
  
  <p><code>USERDIR</code> may be defined, but the file path you pass as a parameter takes precedent.  bftp then creates a namespace directory inside your designated path called <code>bftp.downloads</code>.</p>
</blockquote></li>
</ol>
</div>