<div style='padding: 65px 10px 100px 10px;'>
	<div class="row">
		<div class="col-md-4">
			<h2 class='text-warning'>[ l [ i [ s ] t ] s ]</h2>
			<p>Lists is a library of higher-order functions featuring over 50 functions for working with lists (arrays/strings) and collections (objects). The library was inspired directly from Haskell's Data.List module by the powerful people over at The University of Gasgow. You can view the original source here. You could then scroll through each function closely and see a purposefully similar correlation between the Haskell implementation and this implementation. </p>
			<p><a data-pjax href='/lists' class="btn btn-default" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2 class='text-warning'>Basek.js</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2 class='text-warning'>Graph Theory</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
</div>
