<div style='padding:60px 10px 200px 10px;'>  
  <div id="merger">
    <div class='both' style='text-align:center;'>
      Thread merger beta. Start by selecting two different NFL subreddits to get comments sorted top to bottom by time posted, newest to oldest.
    </div>
  </div>
</div><!-- /.container -->
