<div style='padding:60px 10px 200px 10px;'>  
  <div id="merger">
    <div class="container-fluid both">
      <div class="row-fluid">
        <div class="span6 v-center">
            <div class="content">
                <div class="table-cell1">
                  <div><i class='fa fa-exclamation-triangle fa-5x'></i></div>
                  <div>
                    <h5>There doesn't seem to be any content here. Begin by touching <strong><span class='text-warning'>open controls</span></strong> to configure your content options.</h5>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.container -->
