<div style='padding:60px 10px 200px 10px;'>  
  <div id="merger">
    <div class="block both">
      <div class="centered">
        <div><i class='fa fa-smile-o fa-5x'></i></div>
          <div>
            <h5>Begin by touching <strong><span class='text-warning'>open controls</span></strong> to configure your content options.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.container -->
