<div style='padding:60px 10px 200px 10px;'>  
  <div id="merger">
    <div class="block both open-controls">
      <div class="centered">
        <div><i class='fa fa-smile-o fa-5x'></i></div>
          <div>
            <h5>Begin by tapping <strong><span class='text-warning'>open control panel</span></strong> to configure your content options.</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="controlModal" tabindex="-1" role="dialog" aria-labelledby="controlModalTitle" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h6 class="modal-title" id="controlModalTitle">Control Panel</h6>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="organization" class="control-label">Organization</label>
                <select id='organization' class='form-control'>
                  <option value='default'>NFL</option>
                </select>
              </div>
              <div class="form-group">
                <label for="team1" class="control-label">Subreddit 1</label>
                <select id='team1' class='form-control'>
                  <option value='default'>Select Subreddit</option>
                  {{#each teams}}
                      <option value="{{this.subreddit}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label for="threads-1" class="control-label">Threads</label>
                <select id="threads-1" class='form-control'></select>
              </div>
              <div class="form-group">
                <label for="team2" class="control-label">Subreddit 2</label>
                <select id='team2' class='form-control'>
                  <option value='default'>Select Subreddit</option>
                  {{#each teams}}
                      <option value="{{this.subreddit}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label for="threads-2" class="control-label">Threads</label>
                <select id="threads-2" class='form-control'></select>
              </div>
              <div class="form-group">
                <label for='refresh'>Refresh Rate</label>
                <span style='float:right;'><i class='fa fa-toggle-on fa-lg'></i></span>
                <select id='refresh' class='form-control'></select>
              </div>
              <div class="form-group">
                <label for='sortBy'>Sort By</label>
                <select id='sortBy' class='form-control'>
                  <option value='new'>New</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.container -->
