<title>Blenddit.com</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no"/> <!--320-->
<meta name="version" content="{{version}}">
<meta name="debug" content="{{debug}}">
<link rel="icon" type="image/png" href="/src/static-assets/imgs/tab.png" sizes="16x16">
<link rel="icon" type="image/png" href="/src/static-assets/imgs/tab.png" sizes="32x32">
{{#if debug}}
	<link rel="stylesheet" type="text/css" href="/src/static-assets/css/bootstrap.min.css?v={{version}}">
{{/if}}
<script>window.pressType = "{{pressType}}"</script>
<style>
    body { background: #060606;}
    body * { opacity: 0; }
</style>